@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;700&display=swap");

:root {
  --contact-clr: hsl(223, 87%, 63%);
  --thin_copyright-clr: hsl(0, 0%, 59%);
  --input-brdr-clr: hsl(223, 100%, 88%);
  --input-brdr-clr-invalid: hsl(354, 100%, 66%);
  --txt-clr: hsl(209, 33%, 12%);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
}

body {
  display: flex;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  font-family: "Libre Franklin", sans-serif;
}

.thin {
  font-weight: 200;
  color: var(--thin_copyright-clr);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  align-items: center;
  margin-inline: 2rem;
}

header,
.input-form,
.illustration-ctn {
  position: relative;
  max-width: 800px;
}

header,
.input-form {
  width: 90%;
}

header {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.header-description {
  margin-bottom: 2rem;
  color: var(--txt-clr);
}

.input-form {
  display: flex;
  gap: 1rem;
}

.input-form > * {
  display: flex;
  font-size: 1rem;
  padding-block: 1rem;
  border-radius: 2rem;
}

.input-field {
  padding-inline: 2rem;
  width: 100%;
  border: 1px solid var(--thin_copyright-clr);
}

button {
  padding-inline: 3rem;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.illustration-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 6rem;
}

.illustration-ctn > img {
  width: 100%;
}

.copyright {
  margin-top: auto;
  text-align: center;
}

footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer > * {
  max-width: 800px;
  margin-block: 1rem;
}

.contact-ctn {
  display: flex;
  margin-block: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-link {
  display: flex;
  height: 3rem;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: -2px 2px 2px #0002,
              -1px 1px 2px #fff,
              inset 0 0 2px #0004;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin: auto;
}

.contact-link:hover {
  transform: scale(1.1);
}

i {
  font-size: 1.5rem;
  color: var(--contact-clr);
}

.copyright {
  color: var(--thin_copyright-clr);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 672px) {
  .input-form {
    flex-direction: column;
  }
}